/* css login  */

.mar-zero {
  margin: 0px;
}

.mar-btn-20 {
  margin-bottom: 20px;
}

.icon-h {
  display: none;
}

.icon-r {
  color: #a94442 !important;
}

.login-page {
  background: #ff6600;

}

.login-logo a {
  color: #FFF;
}

/*------------------------*/

.login-logo img {
  width: 70%;
}

.login-box-body {
  background: #f0f0f0;
  box-shadow: 3px 3px 5px grey;
}

.login-box a {
  color: #fe4203;
}

.login-box button[type=submit] {
  background: #fe4203;
  border: none;
  width: 50%;
}

.sh-store-link__image {
  width: 200px;
  height: auto;
  border: 0;
  margin: 0 0 15px;
  padding: 0
}

@media (min-width: 480px) {
  .sh-store-link__image {
    margin: 0 0 20px
  }
}

.event-gotIt-button .sh-button {
  border-color: #333 !important;
  color: #333
}

.sh-cody {
  padding: 128px 20px 0;
  text-align: center
}

.sh-cody__message {
  line-height: 20px;
  border: 1px solid #eaeaea;
  padding: 20px 10px;
  margin: 0 0 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

.sh-cody__image {
  width: 120px;
  height: auto;
  border: 0
}
