.dropzone{
  border: 1px dashed;
  min-height: 52vh;
  background: #fafafa;
  padding: 0px 0px;
}

.dropzone .dz-message{
  margin: 13em 0;
}

.none-input, .none-input:focus{
  border: none;
  background-color: transparent;
  outline: none;
}

.img-list{
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.img-p{
  padding-top: 5px;
}

.dropzone .dz-preview .dz-image {
  width: 100px;
  height: 100px;
  border-radius: 0px;
}

.img-list-block{
  border: 3px dashed #d4d4d4;
  display: grid;
  place-content: center;
}

.img-list-block:hover{
  background-color: #f2f2f2;
}

.icon-block{
  color: #d4d4d4;
  font-size: 20pt;
  text-align: center;
}

.img-list-block h6{
  color: #848484;
  text-align: center;
}
